
/* Feuille de style pour le TP Présenter un artiste */
/* Ce modèle est en mode multipages mais il peut facilement passer en mode One page */
/* Dernière révision le 04/07/2021 */
/* Fabien Cazayous */

/* Importation d'une police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

#myFormulaire{
    position: relative;
    top: -1rem;
    left: 5%;
    width: 90%;
    padding: 5px;
    height: 38rem;
    background-color: cadetblue;
    font-size: 1em;
    color: black;
    z-index: unset;
    border-radius: 5px;
    border-width: 3px;
    border-left-style: outset;
    border-left-color: lightgray;
    border-top-color: lightgray;
    border-right-color: darkgrey;
    border-bottom-color: darkgrey; 
}

form{
    position: relative;
    width: 60%;
    top: 1rem;
    right: 0px;
    width: 38rem;
    min-height: 34rem;	
    margin: 5px auto;
    padding-left: 2rem;	
    padding-top: 2rem;	 
    background-color: oldlace;
}


/**** general text styling ****/
#myFormulaire a{
    color: rgb(117, 184, 194);
    text-decoration: underline;
}

#myFormulaire h1{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: oldlace;
}

#myFormulaire p{
    color: rgb(117, 184, 194);
    margin-bottom:5px;
}

#myFormulaire p:first-child{
    margin: 0px;
}

#myFormulaire label{
    width: 100%;
    color: rgb(117, 184, 194);
    position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
    color: rgb(230, 148, 188); 
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
    color: rgb(230, 148, 198);
    font-style: italic;
} 
input {
    outline: none;
}

/* all the input except submit and checkbox */
/* le pouce */
#myFormulaire input:not([type="radio"]):not([type="checkbox"]){
    width: 92%;
    margin-top: 2px;
    padding: 10px 5px 10px 10px;	
    background-position:450px;
    border: 1px solid rgb(178, 108, 178);
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 128, 168, 0.6) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 128, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 128, 168, 0.6) inset;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

#myFormulaire input:not([type="radio"]):not([type="checkbox"]):active,
#myFormulaire input:not([type="radio"]):not([type="checkbox"]):focus{
    border: 1px solid rgba(91, 60, 90, 0.7);
    background: rgba(238, 176, 240, 0.2);
    background-position:50px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 128, 168, 0.9) inset;
    -moz-box-shadow: 0px 1px 4px 0px rgba(168, 128, 168, 0.9) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 128, 168, 0.9) inset;
} 


input[type="submit"]{
    width: 30%;
    cursor: pointer;	
    background: rgb(117, 184, 194);
    padding: 8px 5px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 24px;	
    border: 1px solid rgb(128, 108, 122);	
    margin-bottom: 10px;	
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
        0px 0px 0px 3px rgb(254, 254,254),
        0px 5px 3px 3px rgb(210, 210, 210);
    -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
        0px 0px 0px 3px rgb(254, 254,254),
        0px 5px 3px 3px rgb(210, 210, 210);
    box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
        0px 0px 0px 3px rgb(254, 254,254),
        0px 5px 3px 3px rgb(210, 210, 210);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
input[type="submit"]:hover{
    background: rgb(117, 158, 194);
}
input[type="submit"]:active,
input[type="submit"]:focus{
    background: rgb(160, 87, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(112, 46, 87);	
    -webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}



/* La check box pour rester connect� */
.newsLetter{
    margin-top: -5px;
}
.newsLetter input, .newsLetter label{
    display: inline-block;
    font-size: 12px;	
    font-style: italic;
}
#newsLetter{
    margin-right: 5px;
}
.newsLetter label{
    width: 80%;
}

@media screen and (max-width: 728px){
    #myFormulaire{
        height: auto;
        display: flex;
        align-items: center; 
    }  
    form{
        width: 32rem;
        margin-left: 0rem;
        margin-right: 0rem;
        overflow-y: scroll;
    } 
}
